<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الرئيسية</title>
    <link rel="stylesheet" href="style/home.css">
</head>
<body>

    <img src="images/bg.png" alt="" class="bg">
    
    <div class="container">

        <div class="up">
            <a href="#">تسجيل الدخول</a>
            <a href="#">انشاء حساب</a>
            <a href="#">تسجيل الخروج</a>
            <a href="#">انشاء جلسة</a>
        </div>

        <div class="down">

            <div class="card">
                <img src="images/bg.png" alt="">
                <p>Session Name</p>
                <a href="#">دخول</a>
            </div>

            
            <div class="card">
                <img src="images/bg.png" alt="">
                <p>Session Name</p>
                <a href="#">دخول</a>
            </div>
            

        </div>

    </div>


</body>
</html>