{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الرئيسية</title>
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
</head>
<body>

    <img src="{% static 'images/bg.png' %}" alt="" class="bg">
    
    <div class="container">

        <div class="up">
            {% if c_user.id %}
                <a href="{% url 'logout' %}">تسجيل الخروج</a>
                <a href="{% url 'create_podcast' %}">انشاء جلسة</a>
            {% else %}
                <a href="{% url 'login' %}">تسجيل الدخول</a>
                <a href="{% url 'register' %}">انشاء حساب</a>
            {% endif %}
        </div>

        <div class="down">


            {% for podcast in podcasts %}
                <div class="card">
                    <img src="{{main_url}}{{podcast.owner.picture}}" alt="">
                    <p>{{podcast.title}}</p>
                    <a href="{% url 'podcast' podcast.id %}">دخول</a>
                </div>
            {% endfor %}
            
            

        </div>

    </div>


</body>
</html>