{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>انشاء جلسة</title>
    <link rel="stylesheet" href="{% static 'style/form.css' %}">
</head>
<body>

    <img src="{% static 'images/bg.png' %}" alt="" class="bg">
    
    <form class="container" method="POST">
        {% csrf_token %}
        <h1>انشاء جلسة</h1>

        <input type="text" placeholder="اسم الجلسة" name="title">

        <div class="btns">
            <a href="{% url 'home' %}">الرجوع</a>
            <button type="submit">انشاء جلسة</button>
        </div>

    </form>


</body>
</html>