<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>انشاء جلسة</title>
    <link rel="stylesheet" href="style/form.css">
</head>
<body>

    <img src="images/bg.png" alt="" class="bg">
    
    <div class="container">
        <h1>انشاء جلسة</h1>

        <input type="text" placeholder="اسم الجلسة">

        <div class="btns">
            <a href="#">الرجوع</a>
            <button>انشاء جلسة</button>
        </div>

    </div>


</body>
</html>